extends layout

block content
	h1= title
	section
		.row
			div(class='12u')
				if data
					table
						thead
							tr
								each val, key in data[0]
									th= key
						tbody
							each row in data
								tr
									each val in row
										td= val
				else
					p Please import application records first
		if data
			.row
				div(class='-4u 4u 12u(small)')
					a.button.fit.icon.fa-trash-o(href='applicationdata?del=true') Delete all Records