extends layout

block content
	h1= title
	section
		if data
			table
				thead
					tr
						th Criteria
						th Importance
				tbody
					each row in data
						tr
							each val in row
								td= val
							td(width='10%')
								a.button.icon.fa-edit(href='judge?crit=' + row.crit) Edit
							td(width='10%')
								a.button.icon.fa-remove(href='judgeoverview?crit=' + row.crit) Delete
		.row
			div(class='-4u 4u 12u(small)')
				a.button.fit.icon.fa-sign-in(href='judge') Add criteria